nav{
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0;
  margin-top: -5px;
  background-color: mediumseagreen;
}

/* logo */
.img-fluid{
  max-width: 150% !important;
  margin-left: auto;
}

/* Search */
.col-auto {
  flex: 0 0 auto;
  width: 40%;
  margin-left: auto;
}

.form-control{
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input-group{
  padding: 0;
}

/* Menu */
.navbar-collapse {
  flex-basis: 100% !important;
}

.navbar-nav{
  gap: 20px;
  font-size: calc(0.8rem + 0.1vw);
  padding-top: 1% !important;
  padding: 10px;
  margin-left: auto;
} 

.nav-tabs, .nav-item, .active {
    background-color: transparent !important;
}

